//
//  ConfigRelease.xcconfig
//  Hugo
//
//  Created by Sebastian Nielsen on 13/11/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BUNDLE_IDENTIFIER = com.ordellnielsen.Hugo
APP_GROUP_IDENTIFIER = group.com.ordellnielsen.Hugo
ICLOUD_CONTAINER_IDENTIFIER = iCloud.com.ordellnielsen.Hugo
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
